.confirmMain{
	width: 100%;
	height: 100%;
	position: absolute;
	background: #F5F5F5;
	padding-top: 10px;
}

.confirmMain .orderNum{
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: center;
    color: #101010;
    font-size: 14px;
}

.confirmMain .payMoney{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	text-align: center;
}

.confirmMain .payMoney span{
	font-size: 24px;
}

.confirmMain .receivables{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #bbb;
	border-top: 1px solid #bbb;
	background-color: white;
	margin-top: 30px;
	padding: 0 15px;
	box-sizing: border-box;
	line-height: 35px;
    color: #101010;
    font-size: 14px;
}

.confirmMain .receivables .key{
	width: auto;
	float: left;
}

.confirmMain .receivables .value{
	width: auto;
	float: right;
}

.confirmMain .confirmPayButtom{
	width: 100%;
	height: 40px;
	padding: 0 15px;
	box-sizing: border-box;
	margin-top: 80px;
}

.confirmMain .confirmPayButtom span{
	width: 100%;
	height: 40px;
	line-height: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(37, 155, 36);
    display: inline-block;
    border-radius: 4px;
    text-align: center;
}
