* {
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background-color: white;
	padding: 16px 25px 0;
}

.listen_top {
	width: 100%;
	height: 35px;
}

.listen_top .logo {
	width: 35px;
	height: 35px;
	float: left;
	background-color: red;
}

.listen_top .conpanyName {
	width: auto;
	margin-left: 10px;
	height: 35px;
	line-height: 35px;
	font-size: 18px;
	float: left;
	color: #252525;
}

.listen_top .tittle {
	width: auto;
	float: right;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	color: #878787;
}

.listen_logo {
	width: 100%;
	height: auto;
	padding-top: 10px;
}

.listen_input {
	width: 100%;
	height: 45px;
	border-bottom: 1px solid #979797;
	display: flex;
	margin-top: 10px;
}

.listen_input .input_name {
	font-size: 18px;
	color: #202020;
	width: 80px;
	text-align: left;
	line-height: 45px;
	height: 45px;
}

.listen_input .input {
	height: 45px;
	flex: 1;
}

.listen_input .input input {
	width: 100%;
	height: 100%;
	border: 0px;
	outline: none;
	box-sizing: border-box;
	font-size: 16px;
	-webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

.textarea {
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	border: 1px solid #85b3f8;
	margin-top: 20px;
	box-shadow: none;
	padding: 10px;
	overflow: auto;
	-webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

.textareaNum {
	width: 100%;
	height: 25px;
	line-height: 25px;
	text-align: right;
	font-size: 12px;
	color: #d9d9d9;
}


.bottom {
	width: 100%;
	height: auto;
	margin-top: 20px;
	text-align: center;
}

.bottom span {
	width: 75%;
	height: 40px;
	display: inline-block;
	margin: auto auto;
	background: #85b3f8;
	border-radius: 12px;
	font-size: 16px;
	color: #ffffff;
	line-height: 40px;
}

.bottom div {
	width: 100%;
	height: 30px;
}

.bombBox {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.2);
	text-align: center;
	display: inline-block;
}

.bombBox i {
	width: 0;
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.bombBox .bombMain {
	width: 70%;
	height: 150px;
	vertical-align: middle;
	display: inline-block;
	background-color: white;
	border-radius: 8px;
	padding: 15px 30px;
	box-sizing: border-box;
	color: #85b3f8;
}

.bombBox .bombMain .tittle {
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
}

.bombBox .bombMain .content{
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
}

.bombBox .bombMain .bottomToSay{
	width: 100%;
	height: 40px;
	border:1px solid #85b3f8;
	text-align: center;
	color: #85B3F8;
	border-radius: 8px;
	line-height: 40px;
}
